<% content_for :headtentangabu do %>
    <title>abutours - syarat & ketentuan</title>
<% end %>

<% content_for :tentangabu do %>

    <div class="terms-wrapper">
      <div class="terms-wrapper__item">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10">
              <h2 class="text-uppercase">
                Kebijakan Privasi
              </h2>
              <hr>
              <h4>
                <strong>Pendahuluan</strong>
              </h4>
              <p class="text-justify">
                Selamat datang di Website abutours.com. Website ini dimiliki, dioperasikan, diselenggarakan oleh PT.
                Amanah Bersama Umat (“Kami” atau “abutours.com”), suatu perseroan terbatas yang didirikan berdasarkan
                hukum Republik Indonesia dengan Ijin Tetap Usaha Pariwisata PPIU nomor 199/2014 tertanggal 09 November
                2011; Kami menyediakan website dan layanan yang tersedia secara online melalui website: www.abutours.com
                atau aplikasi mobile : Abutours untuk Android, dan berbagai akses, media, perangkat dan platform lainnya
                (“Layanan Online”), baik yang sudah atau akan tersedia di kemudian hari.
                Dari waktu ke waktu, Abutours dapat merevisi Kebijakan Privasi ini untuk mencerminkan perubahan dalam
                hukum, pengumpulan dan praktik penggunaan Data Pribadi kami, fitur Situs kami, atau kemajuan dalam
                teknologi. Jika kami membuat revisi yang mengubah cara kami mengumpulkan atau menggunakan Data Pribadi
                Anda, perubahan tersebut akan dimuat di dalam Kebijakan Privasi ini dan tanggal berlaku akan dicatat
                pada permulaan Kebijakan Privasi ini. Oleh karena itu, Anda harus meninjau Kebijakan Privasi ini secara
                berkala sehingga Anda selalu mendapatkan informasi terkini akan kebijakan dan praktik kami saat ini.
                Abutours juga akan memasang dengan jelas perubahan materi tersebut sebelum mengimplementasikan
                perubahannya. Jika Anda tidak setuju dengan perubahan atau modifikasi terhadap Kebijakan Privasi, harap
                jangan melanjutkan menggunakan Situs. Anda akan dianggap telah menyetujui setiap modifikasi Kebijakan
                Privasi ketika Anda menggunakan Situs setelah tanggal berlaku modifikasi.
              </p>
              <!-- ------------------------------------- -->
              <h4 class="mt-4">
                Aturan Privasi
              </h4>
              <p class="text-justify">
                Kebijakan Privasi ini mengatur dan atau menjelaskan seluruh layanan yang sudah Kami sediakan untuk Anda
                (“Pengguna”) gunakan, baik layanan yang Kami operasikan sendiri maupun yang dioperasikan melalui
                afiliasi dan/atau rekanan Kami. Untuk menjaga kepercayaan Anda kepada Kami, maka Kami senantiasa akan
                menjaga segala kerahasiaan yang terkandung dalam data pribadi Anda, karena Kami menganggap privasi Anda
                sangat penting bagi Kami. Dalam aturan privasi ini Kami sertakan penjelasan mengenai tata cara Kami
                mengumpulkan, menggunakan, mengungkapkan, memproses dan melindungi informasi dan data pribadi Anda yang
                Kami identifikasi (“Data Pribadi”). Pada saat Anda membuat pemesanan dan atau akun pribadi pada website
                abutours.com, maka Kami akan mencatat dan menyimpan informasi dan data pribadi Anda. Dimana pada
                prinsipnya, setiap data yang Anda berikan dari waktu ke waktu akan Kami simpan dan Kami gunakan untuk
                kepentingan penyediaan produk dan layanan Kami kepada Anda, yaitu antara lain untuk keperluan
                tokenisasi, akuntansi, tagihan, audit, verifikasi kredit atau pembayaran, newsletter, serta keperluan
                keamanan, administrasi dan hukum, bonus poin atau bentuk sejenisnya, pengujian, pemeliharaan dan
                pengembangan sistem, hubungan pelanggan, promosi dan membantu Kami di kemudian hari dalam memberikan
                pelayanan kepada Anda. Sehubungan dengan itu, Kami dapat mengungkapkan data Anda kepada grup perusahaan
                dimana abutours.com bergabung didalamnya, agen, mitra penyedia produk, perusahaan lain yang tercatat
                sebagai rekanan dari abutours.com, perusahaan yang ditunjuk untuk melakukan proses data yang terikat
                kontrak dengan Kami, agen perjalanan, badan pemerintah dan badan peradilan yang berwenang di jurisdiksi
                manapun.
              </p>
              <!-- ------------------------------------- -->
              <h4 class="mt-4">
                Informasi apa saja yang Kami kumpulkan dan gunakan ?
              </h4>
              <p class="text-justify">
                Kami mengumpulkan Data Pribadi mengenai Anda yang diberikan kepada kami saat menggunakan Situs. Data
                Pribadi tersebut termasuk namun tidak terbatas pada nama Anda, identifikasi pengguna Abutours dan
                kredensial login, alamat, nomor telepon, alamat e-mail, nama hotel, lokasi hotel dan/atau lama tinggal.
                Kami dapat meminta Anda untuk memberikan informasi tentang preferensi perjalanan Anda, keanggotaan
                frequent flyer maskapai, dan masukan tentang pengalaman perjalanan melalui pemesanan Abutours Anda. Kami
                juga mengumpulkan informasi non-pribadi yang teridentifikasi (yang tidak dapat digunakan untuk
                mengidentifikasi Anda), termasuk namun tidak terbatas pada alamat protokol internet ("IP") Anda, data
                lokasi geografis, jenis sistem pengoperasian, kebangsaan, preferensi pencarian, begitu pula data umum
                lainnya terkait penggunaan Internet. Kami dapat menggunakan Data Pribadi Anda dan informasi lainnya yang
                dikumpulkan melalui Situs, baik di Indonesia atau di luar negeri, untuk tujuan berikut:
              </p>

              <p class="text-justify">
                mendaftar, mengelola dan/atau mengurus penggunaan dan/atau akses Situs
                mengelola, mengoperasikan, mengurus dan memberikan Anda layanan yang ditawarkan di Situs
                menghubungi Anda mengenai hal-hal yang berkaitan dengan penggunaan Anda dan/atau akses Situs serta
                layanan di Situs, dan setiap pertanyaan dan/atau permintaan yang diajukan oleh Anda melalui Situs atau
                sebaliknya
                menyesuaikan pengalaman Anda saat menggunakan Situs
                mengukur dan meningkatkan pengalaman dan kepuasan pelanggan
                mempublikasikan ulasan pelanggan, seperti Situs, Agen Perjalanan Umroh, Penerbangan atau Hotel, dalam
                format digital dan/atau cetak untuk akses publik
                menegakkan Syarat dan Ketentuan
                menyelesaikan sengketa atau pengaduan, mengumpulkan pembayaran atau biaya, atau memecahkan masalah
                dan/atau untuk tujuan lain yang diberitahukan kepada Anda pada saat pengumpulan
              </p>

              <p class="text-justify">
                Kami juga dapat menggunakan Data Pribadi Anda dan informasi lainnya yang dikumpulkan untuk pemasaran
                Media Sosial menggunakan teknik grafik langsung dan terbuka, dan untuk tujuan pemasaran digital dan
                konvensional seperti mengirimkan Anda surat elektronik langsung dan memberitahukan tentang produk baru,
                penawaran khusus atau informasi lain yang menurut kami akan menarik dan berguna bagi Anda. Harap dicatat
                bahwa Anda dapat memilih untuk keluar dari setiap materi pemasaran yang mungkin kami kirimkan kepada
                Anda kapan pun. Harap ikuti instruksi untuk berhenti berlangganan yang diatur di dalam materi pemasaran
                kami jika Anda memilih untuk keluar dari setiap materi pemasaran, dan kami akan menghormati keinginan
                Anda.
              </p>
              <!-- ------------------------------------- -->
              <h4 class="mt-4">
                Penggunaan Website
              </h4>
              <p class="text-justify">
                Dengan menerima Ketentuan Penggunaan website ini, maka Anda telah diberikan keleluasaan dan atau
                otoritas akses yang terbatas dan dapat dibatalkan, tidak dapat dipindah-tangankan dan lisensi
                non-eksklusif untuk mengakses dan menggunakan website dengan menampilkan pada tampilan browser Anda
                untuk tujuan transaksi jual beli produk-produk Kami. Dalam penggunaan website, Anda akan diberi kata
                sandi dan akun yang unik untuk memungkinkan Anda mengakses bagian-bagian tertentu dari website ini.
                Setiap kali Anda menggunakan kata sandi atau akun tersebut, Anda akan dianggap memiliki otorisasi untuk
                mengakses dan menggunakan website ini dengan cara yang sesuai dengan syarat dan ketentuan Syarat
                Penggunaan ini dan Kami tidak memiliki kewajiban untuk menyelidiki otorisasi atau sumber dari akses
                tersebut atau penggunaan website. Dengan demikian, Anda setuju bahwa Anda senantiasa memperhatikan
                ketentuan larangan yang berlaku dalam penggunaan website ini, yaitu sebagai berikut :
              </p>

              <ol type="1">
                <li class="text-justify mb-2">
                  Anda dilarang untuk melakukan serta tidak akan membantu orang lain untuk mereproduksi,
                  mendistribusikan, menampilkan, menjual, menyewakan, mengirimkan, membuat karya turunan dari,
                  menerjemahkan, memodifikasi, merekayasa balik, membongkar, menguraikan atau mengeksploitasi website
                  ini atau sebagian dari itu.
                </li>
                <li class="text-justify mb-2">
                  Anda dilarang untuk menjual dan memindah-tangankan akun Anda, profil, atau item yang terkait dengan
                  Layanan kecuali secara tegas diizinkan secara tertulis oleh Kami.
                </li>
                <li class="text-justify mb-2">
                  Anda dilarang untuk menggunakan setiap informasi yang diberikan pada website atau membuat penggunaan
                  website untuk kepentingan komersial dan atau bisnis, lain kecuali secara tegas diizinkan secara
                  tertulis oleh Kami.
                </li>
                <li class="text-justify mb-2">
                  Anda dilarang untuk meniru atau menggambarkan diri Anda dengan orang lain atau badan usaha lain pada
                  saat Anda memberikan data dan informasi Anda kepada Kami dalam penggunaan website dan layanan Kami.
                </li>
                <li class="text-justify mb-2">
                  Anda dilarang untuk mengirimkan iklan, materi promosi, email spam, serta merusak operasi layanan
                  dengan cara mengupload virus, worm atau kode berbahaya lainnya.
                </li>
                <li class="text-justify">
                  Anda dilarang untuk melakukan serta tidak akan membantu orang lain untuk mengasosiasikan, mencitrakan,
                  mengaitkan, menghubungkan, mengafiliasikan dengan suatu website yang berisi konten-konten sebagai
                  berikut :
                  Konten yang melanggar hak kekayaan intelektual dan hak kepemilikan lainnya.
                  Konten yang mengandung unsur pronografi atau cabul atau kesusilaan, perjudian, penghinaan, fitnah dan
                  atau pencemaran nama baik, pemerasan dan atau pengancaman, penipuan, pemalsuan.
                  Konten yang menimbulkan dan atau mendorong timbulnya atau memfasilitasi rasa kebencian, permusuhan,
                  pengancaman, penghasutan, pelecehan dan mengobarkan suatu ketegangan antar perorangan, pihak manapun
                  atau kelompok tertentu, baik berdasarkan suku, agama, ras dan antar golongan (SARA) ataupun gender
                  atau orientasi seksual, asal negara, etnis, kebangsaan, keterbatasan fisik dan keyakinan.
                  Konten-konten terlarang lainnya berdasarkan peraturan perundang-undangan yang berlaku.
                </li>
              </ol>

              <p class="text-justify">
                Atas dasar kebijaksanaan Kami dalam hal setiap perilaku Anda selaku pelanggan termasuk dan atau dianggap
                melanggar hukum dan ketentuan yang berlaku serta merupakan pelanggaran Persyaratan Penggunaan, atau
                berbahaya bagi kepentingan Kami, maka atas setiap pelanggaran yang terjadi tersebut mengakibatkan
                pencabutan secara serta merta ijin akses yang diberikan dalam ketentuan ini tanpa pemberitahuan terlebih
                dahulu kepada Anda dan Kami berhak untuk menolak layanan, menghentikan akun, dan atau membatalkan
                pesanan yang Anda lakukan, termasuk dan tidak terbatas untuk mengungkapkan identitas dalam database Anda
                kepada pihak yang berwenang atas dasar suatu surat perintah yang sah. Anda harus bertanggung-jawab
                terhadap semua kerugian yang Kami maupun agen dan mitra atau rekanan Kami alami, termasuk dan tidak
                terbatas terhadap klaim pihak ketiga, beserta biaya-biaya lainnya yang mungkin muncul sebagai akibat
                yang ditimbulkan dari perilaku Anda. Konten yang disediakan di website ini adalah semata-mata untuk
                tujuan informasi. Dengan Anda menyetujui ketentuan ini, maka sekaligus membebaskan Kami dari tanggung
                jawab atas setiap klaim, sanggahan, kerusakan, atau kerugian yang diakibatkan dari penggunaan website
                atau layanan yang terkandung di dalamnya.
              </p>
              <!-- ------------------------------------- -->
              <h4 class="mt-4">
                Hukum Yang Berlaku
              </h4>
              <p class="text-justify">
                Apabila Anda mengakses website ini di luar Indonesia, maka atas penggunaan website dan layanan yang Kami
                berikan akan tunduk dan diatur oleh dan atau ditafsirkan sesuai dengan hukum yang berlaku di Indonesia,
                tanpa mempengaruhi adanya prinsip-prinsip konflik hukum yang berlaku.
              </p>
              <!-- -------------------------------------- -->
              <h4 class="mt-4">
                Kebijakan Cookie
              </h4>
              <p class="text-justify">
                Cookie adalah file teks yang mengandung sejumlah kecil informasi yang diunduh ke perangkat Anda saat
                Anda mengunjungi sebuah website. Kami menggunakan cookie untuk berbagai alasan, seperti untuk melacak
                data Anda jika dibutuhkan untuk digunakan, pelacakan transaksi Anda dengan mitra atau rekanan Kami,
                mengingat preferensi Anda dan pada umumnya meningkatkan pengalaman Anda saat menggunakan sebuah website.
                Anda dapat mengatur browser Anda untuk menerima atau tidak menerima suatu cookie.
              </p>
              <!-- -------------------------------------- -->
              <h4 class="mt-4">
                Pendaftaran dan Keanggotaan
              </h4>
              <p class="text-justify">
                Situs ini memungkinkan Anda untuk membuat satu akun pengguna dengan mendaftar keanggotaan, berdasarkan
                data yang Anda berikan. Dengan memberikan data, mendaftar, dan membuat akun, Anda menjamin bahwa: Anda
                setidaknya berusia 18 tahun.
              </p>
              <p class="text-justify">
                Informasi tentang Anda adalah benar dan akurat, terkini dan lengkap sebagaimana diperlukan dalam
                formulir pendaftaran di Situs ("Data Pendaftaran"); dan Anda akan memperbarui Data Pendaftaran ini agar
                selalu benar, akurat dan lengkap.
              </p>
              <p class="text-justify">
                Selanjutnya, Anda setuju bahwa Abutours tidak bertanggung jawab atas kehilangan atau kerusakan yang
                mungkin diderita oleh kami, Anda atau pihak ketiga manapun, yang kerugian atau kerusakan tersebut
                disebabkan oleh ketidakakuratan atau tidak lengkapnya informasi yang diberikan oleh Anda. Setelah
                mendaftar, Anda akan menerima kata sandi dan identifikasi pengguna ("Nama pengguna"). Anda bertanggung
                jawab untuk menjaga kerahasiaan kata sandi dan Nama pengguna, dan Anda bertanggung jawab penuh atas
                semua kegiatan terkait Nama pengguna atau kata sandi. Anda hanya dapat menggunakan satu Nama pengguna
                dan kata sandi pada satu waktu dan tidak diperbolehkan untuk menggunakan lebih dari satu Nama pengguna.
                Kata sandi Anda semata-mata hanya untuk Anda gunakan sendiri, dan Anda setuju untuk benar-benar
                merahasiakan kata sandi Anda. Anda setuju untuk segera memberitahukan Abutours tentang penggunaan kata
                sandi atau akun yang tidak sah atau pelanggaran keamanan lainnya. Untuk keamanan yang lebih bagus, harap
                pastikan bahwa Anda logout atau keluar dari akun setelah setiap kali penggunaan Situs ini. Anda setuju
                bahwa Abutours tidak akan bertanggung jawab atas setiap kerugian atau kerusakan yang diderita oleh kami,
                Anda atau pihak ketiga yang timbul akibat kegagalan Anda untuk mematuhi ketentuan ini.
              </p>
              <!-- -------------------------------------- -->
              <h4 class="mt-4">
                Persetujuan
              </h4>
              <p class="text-justify">
                Dengan membaca seluruh ketentuan ini, mengakses dan menggunakan website serta layanan Kami, maka Anda
                dianggap menyatakan telah membaca, memahami, menyetujui, dan menyatakan tunduk pada aturan privasi ini
                beserta perubahan-perubahan yang mungkin Kami lakukan dari waktu ke waktu. Apabila Anda tidak dapat
                menyetujui aturan privasi ini, baik secara keseluruhan ataupun sebagian, maka Anda tidak diperbolehkan
                untuk mengakses Website ini ataupun menggunakan Layanan yang Kami sediakan.
              </p>
              <!-- -------------------------------------- -->
              <h4 class="mt-4">
                Hubungi Kami
              </h4>
              <p class="text-justify">
                Jika Anda memiliki pertanyaan atau membutuhkan informasi lebih lanjut mengenai pesanan Anda, Anda dapat
                menghubungi Customer Service Kami (021)2270-9996 atau dapat mengirimkan email ke cs@abutours.com
              </p>
              <!-- -------------------------------------- -->
              <p class="pt-5 pb-4 text-center">
                <strong>&copy; copyright 2017</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>