<div class="c-footer-apps">
  <div class="container">
    <div class="row pl-2 pr-2">
      <div class="col-5">
        <h1 class="lead">
          <strong>Mau Mudah Pesan Paket Umrah & Haji</strong>
        </h1>
        <p>
          Tunggu apalagi? Download sekarang juga dan mulai persiapkan diri untuk berangkat ke Tanah Suci.
        </p>

        <p class="m-0">
          <a href="https://itunes.apple.com/id/app/abutours-best-travel-service/id1334044795?mt=8" target="_blank">
            <%= image_tag 'lib/icon/appstore.png', :class => 'img-thumbnail' %>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.abu.abutours" target="_blank">
            <%= image_tag 'lib/icon/playstore.png', :class => 'img-thumbnail' %>
          </a>
        </p>
      </div>

      <div class="col-2">
        <div class="d-flex mx-auto">
          <div class="item-line"></div>
          <div class="or">or</div>
        </div>
      </div>

      <div class="col-5">
        <h1 class="lead">
          <strong>Bersama Membangun Bisnis</strong>
        </h1>
        <p>
          Dapatkan penawaran terbaik kami dengan menjadi <strong>Kemitraan</strong> abutours.com
        </p>

        <p class="mb-0">
          <a href="/abutours-registers" class="btn btn-outline-danger">Bergabung Sekarang</a>
        </p>
      </div>
    </div>
  </div>
</div>