<%= content_for :headapps do %>
    <title>Tentang abutours</title>
<% end %>

<%= content_for :apps do %>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h5>Tentang Kami</h5>

          <p>
            PT.AMANAH BERSAMA UMMAT diambil dari penggalan kata amanah. Secara bahasa amanah bermakna al-wafa’ (memenuhi/menyampaikan) dan wadi’ah (titipan) sedangkan secara definisi amanah berarti memenuhi apa yang dititipkankan kepadanya. Hal ini didasarkan pada firman AllaH SWT: “Sesungguhnya Allah menyuruh kamu menyampaikan amanat kepada yang berhak menerimanya, dan apabila menetapkan hukum di antara manusia supaya kamu menetapkan dengan adil. Sesungguhnya Allah memberi pengajaran yang sebaik-baiknya kepadamu. Sesungguhnya Allah adalah Maha Mendengar lagi Maha Melihat.…” (QS. An Nisaa' (4): 58)
          </p>

          <p>
            Dengan penggunaan nama AMANAH BERSAMA UMMAT kami berharap akan menjadi suatu perusahaan yang bisa di percaya dan selalu amanah serta akan selalu berkembang dan bermanfaat untuk ummat manusia. Kami percaya dan telah terbukti bahwa posisi kami sebagai perusahaan yang memiliki tenaga tenaga yang berpengalaman dalam melayani jamaah haji dan umroh dari berbagai Negara mampu untuk memberikan pelayanan terbaik yang dibutuhkan oleh calon jamaah haji dan umroh. Bertekad untuk memberikan yang terbaik dalam pelayanan ini, kami selalu berpijak pada nilai-nilai islami, Peningkatan Kualitas Sumber Daya sebagai landasan dasar dalam memberikan layanan terbaik demi kepuasan Jamaah Haji dan Umroh.
          </p>

          <!-- -------------------------------------- -->
          <p class="pt-5 pb-4 text-center">
            <strong>&copy; copyright 2017</strong>
          </p>
        </div>
      </div>
    </div>
<% end %>