<%= content_for :headapps do %>
    <title>Syarat & Ketentuan abutours</title>
<% end %>

<%= content_for :apps do %>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="text-uppercase">
            Syarat dan Ketentuan
          </h3>
          <h5>
            <strong>Pendahuluan</strong>
          </h5>
          <p class="text-justify">
            Terima kasih atas kunjungan Anda ke Website Kami, abutours.com. Kami berharap agar kunjungan Anda dapat
            bermanfaat dan memberi kenyamanan dalam mengakses dan menggunakan seluruh Layanan yang tersedia di
            Website Kami. Kami terus menerus berupaya memperbaiki dan meningkatan mutu pelayanan Kami, dan sangat
            menghargai segala kritik, saran dan masukan dari Anda. Silahkan Anda menyampaikannya ke Kami melalui
            info@abutours.co.id atau telepon di +621-22709996 antara jam 08:00 sampai dengan 17:00 Waktu Indonesia
            Bagian Barat. Website ini dimiliki, dioperasikan dan diselenggarakan oleh PT AMANAH BERSAMA UMAT atau
            abutours.com yang berkantor di jln Warung Buncit raya no 143 Mampang Prapatan,Indonesia. Website dan
            Layanan Kami tersedia secara online melalui situs www.abutours.com yang dapat diakses melalui berbagai
            media, perangkat dan platform lainnya, baik yang sudah atau akan tersedia dikemudian hari.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Umum
          </h5>
          <p class="text-justify">
            Dengan mengakses dan menggunakan Website dan Layanan Kami, Anda menyatakan telah membaca, memahami,
            menyetujui dan menyatakan tunduk pada Syarat dan Ketentuan Penggunaan website ini. Jika Anda tidak dapat
            menyetujui Syarat dan Ketentuan Penggunaan website ini, baik secara keseluruhan ataupun sebagian, maka
            Anda tidak diperbolehkan untuk mengakses Website ini ataupun menggunakan Layanan yang Kami sediakan.
            Syarat dan Ketentuan Penggunaan website ini terdiri atas (i) syarat dan ketentuan umum yang berlaku
            untuk setiap akses dan Layanan yang tersedia pada Website, dan (ii) syarat dan ketentuan khusus yang
            mengatur lebih lanjut ketentuan penggunaan produk atau Layanan tertentu. Dalam hal ditemukan adanya
            perbedaan atau pertentangan antara syarat dan ketentuan umum dan syarat dan ketentuan khusus, maka yang
            berlaku adalah syarat dan ketentuan khusus. Kami dapat mengubah, memodifikasi, menambah, dan menghapus
            syarat dan ketentuan penggunaan website ini setiap saat dan tanpa pemberitahuan terlebih dahulu. Setiap
            perubahan tersebut merupakan hak Kami, maka untuk mengetahui perubahan tersebut kunjungi Website Kami
            secara berkala.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Penggunaan
          </h5>
          <p class="text-justify">
            Website ini dan Layanan yang tersedia di dalamnya dapat digunakan oleh Anda hanya untuk penggunaan
            pribadi dan secara non-komersial dan setiap saat tunduk pada syarat dan ketentuan yang berlaku di
            abutours.com. Website ini dan produk-produk yang ada didalamnya, serta teknologi dan proses dimiliki
            oleh Kami (PT AMANAH BERSAMA UMAT). Anda tidak memiliki hak apapun di abutours.com baik berupa
            data-data, informasi dan konten didalamnya. Dengan menggunakan Website ini atau Layanan yang tersedia
            didalamnya, maka Anda menyatakan setuju tidak akan men-download, menayangkan atau mentransmisi dengan
            cara apa pun, dan atau membuat konten apa pun tersedia untuk umum yang tidak konsisten dengan penggunaan
            yang diijinkan dalam Syarat dan Ketentuan Penggunaan website ini. Anda tidak boleh membuat link,
            melakukan screen capture atau data crawling ke Website tanpa adanya persetujuan tertulis sebelumnya dari
            kami. Hal-hal tersebut dianggap sebagai pelanggaran hak milik intelektual abutours.com.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Layanan abutours.com
          </h5>
          <p class="text-justify">
            abutours.com menyediakan dan menyelenggarakan sistem dan fasilitas pemesanan online secara terpadu
            (“Layanan”), yang dapat melayani pemesanan Paket Umroh. (“Produk”) yang memungkinkan Anda untuk mencari
            informasi atas Produk yang Anda inginkan, serta melakukan pemesanan dan pembelian dan sekaligus
            melakukan pembayaran secara online dan aman melalui sistem dan fasilitas pembayaran yang tersedia.
            Layanan Kami secara umum dapat tersedia secara online selama 24 (dua puluh empat) jam sehari dan 7
            (tujuh) hari dalam seminggu; kecuali dalam hal adanya perbaikan, peningkatan atau pemeliharaan pada
            Website Kami. Layanan Kami abutours.com sudah terdaftar di Hak Kekayaan Intlektual (HKI). Anda tidak
            diperbolehkan baik dengan sengaja maupun tidak sengaja untuk menyalin, mengawasi, menampilkan,
            men-download, atau mereproduksi konten atau informasi, piranti lunak, atau Layanan apa pun yang tersedia
            di Website Kami untuk kegiatan atau tujuan komersial apapun, tanpa persetujuan tertulis dari Kami
            sebelumnya. Anda dapat menggunakan Website dan Layanan yang tersedia untuk membuat pemesanan-pemesanan
            yang sah. Anda tidak diperbolehkan untuk membuat pemesanan untuk tujuan spekulasi, tidak benar atau
            melanggar hukum. Jika Kami menemukan atau sewajarnya menduga bahwa pemesanan-pemesanan yang Anda buat
            ternyata tidak sah, maka Kami mencadangkan hak untuk membatalkan pemesanan-pemesanan Anda. Anda juga
            menjamin bahwa data dan informasi yang Anda berikan ke Kami, baik sehubungan dengan pemesanan ataupun
            pendaftaran pada abutours.com, adalah data dan informasi yang akurat, terkini dan lengkap. Untuk
            ketentuan penggunaan data dan informasi yang Anda berikan, silakan untuk merujuk pada Kebijakan
            Penggunaan Data.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Pemesanan/Pembelian Produk
          </h5>
          <p class="text-justify">
            Pemesanan/pembelian Produk dianggap berhasil atau selesai setelah Anda melakukan pelunasan pembayaran
            sebesar minimal uang muka atau pelunasan langsung dan abutours.com menerbitkan dan mengirimkan ke Anda
            Konfirmasi pemesanan/pembelian. Apabila terjadi perselisihan atau permasalahan, maka data yang terdapat
            pada abutours.com akan menjadi acuan utama dan diangap sah. Dengan menyelesaikan pemesanan/pembelian,
            maka Anda dianggap setuju untuk menerima: (i) Pesan singkat dan email yang akan Kami kirim tidak lama
            sebelum tanggal pelayanan yang Anda pesan, memberikan Anda informasi tentang Produk yang Anda beli, dan
            menyediakan Anda informasi dan penawaran tertentu (termasuk penawaran pihak ketiga yang telah Anda pilih
            sendiri) yang terkait dengan pemesanan dan tujuan Anda, dan (ii) email yang akan Kami kirim tidak lama
            setelah tanggal pelayanan untuk mengundang Anda untuk melengkapi formulir ulasan pengguna Produk Kami.
            Selain dari konfirmasi email yang menyediakan konfirmasi pemesanan dan email-email yang telah Anda pilih
            sendiri, Kami tidak akan mengirimi Anda pemberitahuan (yang diinginkan maupun yang tidak), email,
            korespondensi lebih lanjut, kecuali jika diminta secara khusus oleh Anda.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Harga Produk
          </h5>
          <p class="text-justify">
            Kami selalu berupaya untuk menyediakan harga terbaik atas Produk untuk dapat dipesan oleh Anda. Harga
            yang tertera mungkin memiliki syarat dan ketentuan khusus, jadi Anda harus memeriksa sendiri dan
            memahami syarat dan ketentuan khusus yang berlaku terhadap suatu harga atau tarif tertentu sebelum Anda
            melakukan pemesanan. Anda juga perlu memeriksa dan memahami ketentuan mengenai pembatalan dan
            pengembalian dana yang secara khusus berlaku untuk Produk dan/atau Harga tertentu. Harga yang tercantum
            adalah harga total dari setiap paket umrah. Jika dalam keadaan tertentu, terdapat kesalahan harga
            ataupun informasi mengenai suatu produk tertentu yang disebabkan oleh kesalahan pengetikan (Typo) atau
            kesalahan harga dan informasi, abutours.com berhak untuk menolak ataupun membatalkan pesanan yang
            menggunakan harga yang salah termasuk pesanan yang sudah dibayarkan. Jika pesanan tersebut sudah
            dibayarkan dengan Kartu Kredit, dan kartu kredit Anda telah dikenakan biaya untuk pembelian tersebut,
            maka kami akan melakukan pengembalian dana sesuai dengan jumlah yang telah dibayarkan. Untuk
            Produk-Produk tertentu Kami juga memberikan jaminan harga terbaik bagi Anda. Harap Anda dapat
            mempelajari kebijaksanaan Kami atas jaminan harga terbaik Kami. Dalam kaitannya dengan kebijakan Kami
            atas jaminan harga terbaik itu, jika Anda menemukan ada harga yang lebih rendah di Layanan online lain
            di internet, harap Anda dapat memberitahu ke Kami (info@abutours.co.id) dan Kami akan berupaya untuk
            menyamakan harga/tarif Kami dengan harga/tarif lebih rendah yang Anda temukan. abutours.com berhak untuk
            mengubah harga suatu produk setiap saat tanpa pemberitahuan sebelumnya, namun tetapi Produk yang sudah
            dibeli oleh Anda dan yang untuk Produk mana Anda sudah mendapat Surat Konfirmasi tidak akan berubah.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Pembayaran
          </h5>
          <p class="text-justify">
            Pelunasan atas uang muka merupakan syarat untuk melakukan pembelian. Kami menerima pembayaran dengan
            sistem transfer antar rekening serta antar bank ke rekening abutours.com di bank-bank yang tercantum di
            Website. Dalam hal jika terjadi kasus penyalah-gunaan sistem pembayaran oleh pihak-pihak ketiga manapun,
            maka kejadian tersebut harus segera dilaporkan ke Kami, agar dapat diproses lebih lanjut sesuai dengan
            prosedur dan aturan hukum yang berlaku. Atas setiap pemesanan yang dapat Kami konfirmasi, Kami akan
            mengirim Anda Surat Konfirmasi via email yang berisi uraian produk dan pemesanan yang Anda buat serta
            konfirmasi pembayaran. Anda bertanggung-jawab untuk mencetak dan menjaga informasi yang tertera pada
            Surat Konfirmasi yang Kami kirim. Surat konfirmasi ini merupakan dokumen yang sangat penting dan Anda
            wajib membawa cetakan dari Surat Konfirmasi ini pada saat Anda akan mengklaim Produk yang Anda beli.
            Kami atau Mitra Kami berhak untuk menolak memberikan Produk atau pelayanan, jika Anda tidak dapat
            membuktikan bahwa Anda telah secara sah melakukan pemesanan dan pelunasan, dan Anda membebaskan
            abutours.com dari segala tanggung-jawab dan kerugian Anda dalam bentuk apapun.
          </p>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Perubahan dan Pembatalan
          </h5>
          <p class="text-justify">
            Kecuali secara tegas dinyatakan lain dalam Syarat dan Ketentuan Penggunaan abutours.com ini, semua
            pembelian Produk di abutours.com tidak dapat diubah, dibatalkan, dikembalikan uang, ditukar atau
            dialihkan ke orang/pihak lain. Dengan melakukan pemesanan atau pembelian Produk di abutours.com, Anda
            dianggap telah memahami, menerima dan menyetujui kebijakan dan ketentuan pembatalan, serta segala syarat
            dan ketentuan tambahan. Kami akan mencantumkan kebijakan dan ketentuan pembatalan tersebut di setiap
            Surat Konfirmasi yang Kami kirim ke Anda. Harap dicatat bahwa tarif atau penawaran tertentu tidak
            memenuhi syarat untuk pembatalan atau pengubahan. Anda bertanggung-jawab untuk memeriksa dan memahami
            sendiri kebijakan dan ketentuan pembatalan tersebut sebelumnya. Jika Anda ingin melihat ulang, melakukan
            perubahan, atau membatalkan pembelian Anda, harap merujuk pada Surat Konfirmasi dan ikuti instruksi di
            dalamnya. Harap dicatat bahwa Anda mungkin saja dikenakan biaya administrasi atas pembatalan pembelian
            produk kami yang besarnya sesuai dengan syarat dan ketentuan yang berlaku. Walaupun sangat kecil
            kemungkinan Kami membatalkan atau mengubah pemesanan yang disertai pembelian yang sudah Kami konfirm
            dalam Surat Konfirmasi, namun jika diperlukan, Kami akan memberitahu Anda secepat mungkin. Kami akan
            bertanggung-jawab terhadap perubahan secara signifikan yang berpengaruh pada ketentuan Produk dan
            Layanan yang telah Kami konfirmasikan sebelumnya, yaitu:
          </p>
          <p class="text-justify">
            Jika terbukti kami melakukan perubahan tanggal atau produk secara signifikan, maka kami berikan 3 opsi
            antara lain :
          </p>
          <ol type="A">
            <li>Menerima perubahan yang Kami tawarkan untuk tanggal atau Produk lain
              <p class="text-justify">
                Menerima pengembalian pembayaran dalam bentuk kredit yang dapat Anda gunakan untuk pembelian Produk
                dikemudian hari dari abutours.com. dan untuk itu Anda harus memberitahu Kami dalam waktu 7 (tujuh)
                hari kalender mengenai pilihan Anda, dan jika Kami tidak mendapat konfirmasi dari Anda, maka Kami
                menganggap Anda memilih pilihan a). Kami tidak bertanggung-jawab ataupun menanggung kerugian Anda
                dalam hal Kami tidak dapat memberikan Produk atau memberi Layanan kepada Anda, akibat dari hal-hal
                yang terjadi akibat keadaan memaksa atau yang diluar kekuasaan Kami atau Mitra Kami untuk
                mengendalikan,tapi tidak terbatas pada: perang, kerusuhan, teroris, perselisihan industrial,
                tindakan pemerintah, bencana alam, kebakaran atau banjir, cuaca ekstrim, dan lain sebagainya.
                Keamanan
                Pada saat Anda membuat pemesanan atau mengakses informasi Akun Anda, Anda akan menggunakan akses
                Secure Server Layer (SSL) akan mengenkripsi informasi yang Anda kirimkan melalui Website ini.
                Walaupun abutours.com akan menggunakan upaya terbaik untuk memastikan keamanannya, abutours.com
                tidak bisa menjamin seberapa kuat atau efektifnya enkripsi ini dan abutours.com tidak dan tidak akan
                bertanggung jawab atas masalah yang terjadi akibat pengaksesan tanpa ijin dari informasi yang Anda
                sediakan.
              </p>
            </li>
            <li>Kebijakan Penggunaan Data
              <p class="text-justify">
                Kami menganggap privasi Anda sebagai hal yang penting. Pada saat Anda membuat pemesanan di abutours.com, Kami akan mencatat dan menyimpan informasi dan data pribadi Anda. Pada prinsipnya, data Anda akan Kami gunakan untuk menyediakan Produk dan memberi Layanan kepada Anda. Kami akan menyimpan setiap data yang Anda berikan, dari waktu ke waktu, atau yang Kami kumpulkan dari penggunaan Produk dan Layanan Kami. Data pribadi Anda yang ada pada Kami, dapat Kami gunakan untuk keperluan akuntansi, tagihan, audit, verifikasi pembayaran, serta keperluan security, administrasi dan legal, reward points atau bentuk sejenisnya, pengujian, pemeliharaan dan pengembangan sistem, hubungan pelanggan, promosi, dan membantu Kami dikemudian hari dalam memberi pelayanan kepada Anda.
              </p>
            </li>

            <li>Penolakan Tanggung-Jawab
              <p class="text-justify">
                Seluruh data, informasi, atau konten dalam bentuk apapun yang tersedia pada Website ini disediakan seperti apa adanya sesuai yang di berikan mitra kami dan kami tidak memberikan jaminan akan hal itu.
                Anda mengakui, setuju dan sepakat bahwa Anda menanggung sendiri segala bentuk resiko atas penggunaan Website dan Layanan. Lebih lanjut, Anda mengakui, setuju dan sepakat bahwa abutours.com, termasuk setiap direktur, pejabat, pegawai, Mitra dan pihak lain manapun yang bekerjasama dengan abutours.com, tidak bertanggung-jawab atas dan tidak memberi jaminan terhadap:
                Segala hal yang berkaitan dengan data, informasi atau konten dalam Website ini, akan tapi bertanggung jawab sebatas pada pengoperasian atau keakurasian data, kelayakan, dan kelengkapan data. baik yang tersirat maupun tersurat, termasuk jaminan yang tersirat dari pembelian atau kepatutan dari tujuan tertentu atau kelayakan untuk diperdagangkan;
                Kehilangan atau kerusakan, baik langsung, tidak langsung, khusus, yang bersifat konsekuensial atau termasuk kehilangan keuntungan, reputasi, kerusakan/kehilangan data, kerusakan koneksi yang tak dapat diperbaiki akibat penggunaan atau ketidakmampuan menggunakan Website ini baik yang berdasarkan hukum atau hal lain bahkan ketika kita diinformasikan mengenai kemungkinan-kemungkinan tersebut;
                Akses Anda terhadap Website, berikut dengan kerusakan yang mungkin timbul akibat akses Anda ke Website atau situs eksternal. Akses tersebut merupakan tanggung-jawab Anda sendiri dan Anda sendiri yang harus memastikan bahwa Anda terbebas dan terlindungi dari virus atau hal lain yang mungkin mengganggu atau merusak pengoperasian sistem komputer Anda.
                Sejauh yang dimungkinkan secara hukum, tanggung-jawab dan kerugian yang dapat ditanggung oleh abutours.com, baik untuk satu kejadian ataupun serangkaian kejadian yang saling terhubung, yang timbul dari kerugian yang secara langsung diderita oleh Anda, sebagai akibat dari kesalahan abutours.com, adalah terbatas sampai dengan jumlah total biaya yang telah Anda bayar lunas sebagaimana tercantum dalam SuratKonfirmasi.
              </p>
            </li>
          </ol>
          <!-- ------------------------------------- -->
          <h5 class="mt-4">
            Lain - Lain
          </h5>
          <p class="text-justify">
            Apabila ada bagian tertentu dari Syarat dan Ketentuan Penggunaan abutours.com ini yang dianggap tidak sah atau tidak dapat berlaku, maka bagian tertentu ketentuan itu dianggap terhapus dan ketentuan lainnya tetap berlaku dan mengikat.
          </p>

          <!-- -------------------------------------- -->
          <p class="pt-5 pb-4 text-center">
            <strong>&copy; copyright 2017</strong>
          </p>
        </div>
      </div>
    </div>
<% end %>