<% content_for :head do %>
    <title>Upgrade Akun | Lebih Dari Sekedar Nikmatnya Ibadah</title>
<% end %>

<% content_for :abutours do %>
    <section class="c-dashboard">
      <div class="container">
        <div class="row">
          <!-- --------------------------------------------------- -->
          <div class="col-3 pr-0">
            <div class="card c-dashboard-side pb-5">
              <div class="card-body c-dashboard-side__item p-0">
                <%= render template: 'accounts/partials/sidebar' %>
              </div>
            </div>
          </div>
          <!-- --------------------------------------------------- -->
          <div class="col-9 pl-0">
            <!-- --------------------------------------------------- -->
            <div class="c-bg-white-accounts">
              <div class="card c-dashboard-user c-dashboard-user-small">
                <%= render template: 'accounts/partials/bannerTop' %>
              </div>
              <!-- --------------------------------------------------- -->
              <h5 class="card-title text-center pb-0 pt-4">
                Apa Keuntungan Meng-Upgrade Akun Saya ?
              </h5>

              <div class="card c-dashboard-content mt-1">
                <div class="card-body c-dashboard-content__item c-bg-transparant">
                  <div class="row mb-0 mt-0 pl-2 pr-2">
                    <div class="col-4 p-0">
                      <div class="card text-center p-gold">
                        <div class="card-body">
                          <h4 class="card-title">Agen Gold</h4>
                          <h1 class="display-5">15jt</h1>

                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Administrasi</small>
                              </p>
                              <p class="lead mb-0">
                                Rp 500.000
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Free Umrah Tahun Ke</small>
                              </p>
                              <p class="lead mb-0">
                                5
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Jumlah Voucher</small>
                              </p>
                              <p class="lead mb-0">
                                15
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>ID Username</small>
                              </p>
                              <p class="lead mb-0">
                                abutours.com
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col-4 p-0">
                      <div class="card text-center p-mitra">
                        <div class="card-body">
                          <h4 class="card-title">Mitra</h4>
                          <h1 class="display-5">100jt</h1>

                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Administrasi</small>
                              </p>
                              <p class="lead mb-0">
                                Rp 500.000
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Free Umrah Selama Kontrak</small>
                              </p>
                              <p class="lead mb-0">
                                1
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Voucher 1 juta</small>
                              </p>
                              <p class="lead mb-0">
                                100 Voucher
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Fee income pasif perbulan</small>
                              </p>
                              <p class="lead mb-0">
                                1,1jt sampai 58 bulan
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>sertifikat Polis</small>
                              </p>
                              <p class="lead mb-0">
                                100jt
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>ID Username</small>
                              </p>
                              <p class="lead mb-0">
                                abutours.com
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col-4 p-0">
                      <div class="card text-center p-platinum">
                        <div class="card-body">
                          <h4 class="card-title">Agen Platinum</h4>
                          <h1 class="display-5">20jt</h1>

                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">
                              <p class="mb-0">
                                <small>Administrasi</small>
                              </p>
                              <p class="lead mb-0">
                                Rp 500.000
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Free Umrah Tahun Ke</small>
                              </p>
                              <p class="lead mb-0">
                                3
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>Jumlah Voucher</small>
                              </p>
                              <p class="lead mb-0">
                                20
                              </p>
                            </li>

                            <li class="list-group-item">
                              <p class="mb-0">
                                <small>ID Username</small>
                              </p>
                              <p class="lead mb-0">
                                abutours.com
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer c-bg-white">
                  <a href="/berkas-formulir-upgrade-akun" class="btn btn-lg btn-block btn-primary">
                    Upgrade Akun Sekarang
                  </a>
                </div>
              </div>
            </div>
            <!-- --------------------------------------------------- -->
          </div>
          <!-- --------------------------------------------------- -->
        </div>
      </div>
    </section>
<% end %>