<section class="c-footer c-footer__landing">
  <div class="container">
    <table class="table table-flex">
      <tr>
        <td class="p-0">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-2">Paket Cabang Abutours</h6>
              </div>

              <p class="mb-1">
                <a href="/paket-umrah/CSK,JKT/paket-umrah-di-kota-depok" class="card-link">
                  Jakarta
                </a>
              </p>
              <p class="mb-1">
                <a href="/paket-umrah/BJG,DAY,HRM,PET/paket-umrah-di-kota-makassar" class="card-link">
                  Makassar
                </a>
              </p>
              <p class="mb-1">
                <a href="/paket-umrah/MDB,MDN/paket-umrah-di-kota-medan" class="card-link">
                  Medan
                </a>
              </p>
              <p class="mb-1">
                <a href="/paket-umrah/MDB,MDN/paket-umrah-di-kota-medan" class="card-link">
                  Bandar Lampung
                </a>
              </p>
              <p class="mb-1">
                <a href="/paket-umrah/BPN/paket-umrah-di-kota-balikpapan" class="card-link">
                  Balikpapan
                </a>
              </p>
              <p class="mb-1">
                <a href="/paket-umrah/SBY,SUB/paket-umrah-di-kota-surabaya" class="card-link">
                  Surabaya
                </a>
              </p>
            </div>
          </div>
        </td>

        <td class="p-0">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-2">Abutours</h6>
              </div>

              <p class="mb-1">
                <a href="/about-us" class="card-link">
                  Tentang Kami
                </a>
              </p>
              <p class="mb-1">
                <a href="/blog" class="card-link">
                  Blog
                </a>
              </p>
              <p class="mb-1">
                <a href="/syarat-dan-ketentuan" class="card-link" target="_blank">
                  Syarat & Ketentuan
                </a>
              </p>
              <p class="mb-1">
                <a href="/kebijakan-privasi" class="card-link" target="_blank">
                  Kebijakan Privasi
                </a>
              </p>
            </div>
          </div>
        </td>

        <td class="p-0">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-2">Layanan</h6>
              </div>

              <p class="mb-1">
                <a href="/umrah" class="card-link">
                  Paket Umrah
                </a>
              </p>
              <p class="mb-1">
                <a href="/haji" class="card-link">
                  Paket Haji
                </a>
              </p>
              <p class="mb-1">
                <a href="/flight" class="card-link">
                  Tiket Pesawat
                </a>
              </p>
              <p class="mb-1">
                <a href="/hotel" class="card-link">
                  Hotel
                </a>
              </p>
              <p class="mb-1">
                <a href="/beli-pulsa" class="card-link">
                  Pulsa
                </a>
              </p>
            </div>
          </div>
        </td>

        <td class="p-0">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-2">Hubungi Kami</h6>
              </div>


              <small class="text-uppercase">Alamat</small>
              <p class="mb-1">
                Warung Buncit Raya No.143, Jakarta Selatan
              </p>
              <small class="text-uppercase">Nomor telepon</small>
              <p class="mb-1">
                <a href="/" class="card-link">
                  (021) 227 93 555
                </a>
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <!-- Image and text -->
    <div class="card c-footer-bottom c-footer__landing-bottom">
      <nav class="navbar navbar-footer">
        <div class="media">
          <%= image_tag 'logo/logo_new.png', :class => 'd-flex align-self-senter mr-3' %>
          <div class="media-body mt-2">
            <p class="float-left">
              2017 &copy; abutours.com
            </p>

            <p class="float-right">
              <a href="https://www.facebook.com/abutoursid" target="_blank" class="card-link">
                <i class="ion-social-facebook"></i>
              </a>

              <a href="https://twitter.com/AbuToursID" target="_blank" class="card-link">
                <i class="ion-social-twitter"></i>
              </a>

              <a href="https://www.instagram.com/abutoursid" target="_blank" class="card-link">
                <i class="ion-social-instagram"></i>
              </a>
            </p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>