<section class="pay-footer">
  <div class="container">
    <!-- Image and text -->
    <nav class="navbar">
      <div class="media">
        <%= image_tag 'lib/icon/03.png', :class => 'd-flex align-self-senter mr-3' %>
        <div class="media-body">
          <p class="float-left">
            2017 &copy; abutours.com
          </p>

          <p class="float-right">
            <a href="https://twitter.com/AbuToursID" target="_blank" class="card-link">
              <i class="icon-facebook2"></i>
            </a>

            <a href="https://twitter.com/AbuToursID" target="_blank" class="card-link">
              <i class="icon-twitter2"></i>
            </a>

            <a href="https://twitter.com/AbuToursID" target="_blank" class="card-link">
              <i class="icon-instagram"></i>
            </a>
          </p>
        </div>
      </div>
    </nav>
  </div>
</section>