<nav class="nav nav-pills nav-justified tabs-seat pt-0" id="myTab" role="tablist">
  <a class="nav-item nav-link active" id="tagihan-tab" data-toggle="tab" href="#seat" role="tab" aria-controls="tagihan" aria-selected="true">
    Seat Umrah
  </a>

  <a class="nav-item nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">
    History Transfer Seat
  </a>
</nav>