<div class="data-navbar-detail">
    <nav class="navbar navbar-back navbar-light">
        <a class="navbar-brand" href="<%= back_url %>">
            <i class="ion-ios-arrow-thin-left"></i>
            <span class="text-center"><%= back_title %></span>
        </a>
    </nav>
</div>