<div class="data-navbar-payment">
    <nav class="navbar navbar-close navbar-light">
        <a class="navbar-brand" href="<%= close_url %>">
            <table class="table table-sm mb-0">
                <tbody>
                <tr>
                    <td>
                        <span><%= close_title %></span>
                    </td>
                    <td width="50" class="text-right">
                        <i class="ion-ios-close-empty"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </a>
    </nav>
</div>