<div class="tabs-transactions">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link <%= yield :active_transaction_umrah %>" href="/pembayaran-umrah">
        Umrah
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= yield :active_transaction_haji %>" href="/transaksi-haji">
        Haji
      </a>
    </li>
    <!--{/*<li class="nav-item">*/}-->
    <!--{/*<a class="nav-link disabled" href="#">*/}-->
    <!--{/*<div class="icons-sm icons-tiketpesawat m-auto"></div>*/}-->
    <!--{/*Tiket Pesawat*/}-->
    <!--{/*</a>*/}-->
    <!--{/*</li>*/}-->
    <!--{/*<li class="nav-item">*/}-->
    <!--{/*<a class="nav-link disabled" href="#">*/}-->
    <!--{/*<div class="icons-sm icons-hotel m-auto"></div>*/}-->
    <!--{/*Hotel*/}-->
    <!--{/*</a>*/}-->
    <!--{/*</li>*/}-->
    <li class="nav-item">
      <a class="nav-link <%= yield :active_transaction_evoucher %>" href="/transaksi-evoucher">
        E-Voucher
      </a>
    </li>
  </ul>
</div>