.data-edit-fiture {
  & .card {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;

    &.card-images {
      border-bottom: 2px solid #f5f5f5;
      padding-bottom: 14px;
      & .card-body {
        height: 80px;
        background: url('lib/cover/6.svg') no-repeat;
        background-size: 110%;
        background-position: bottom center;
      }

      & .thumbnail {
        width: 80px;
        height: 80px;
        border: 2px solid #ffffff;
        background: #ffffff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 auto;
        margin-top: -45px;

        & img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          max-width: 100%;
          height: 76px;
          position: absolute;
        }

        & i {
          position: relative;
          margin: 0 auto;
          text-align: center;
          font-size: 30px;
          color: $color-default-hover;
          left: 35%;
          top: 50%;
        }
      }
    }

    &.card-list {
      & .list-group {
        & .list-group-item {
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          border: none;
          border-top: 1px solid #f3f1f0;

          & a {
            color: #212121;
            letter-spacing: -.5px;
            & .media {
              & .media-body {
                & h6 {
                  font-size: 12px;
                }
                & p {
                  font-size: 10px;
                  opacity: .7;
                }
              }
            }
          }
        }
      }
    }
  }
}

.data-edit-pribadi {
  & .card {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;

    & .card-body {}

    & .card-footer {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: none;

      & .btn {
        font-size: 14px;
        letter-spacing: -.5px;
      }
    }
  }
}

.data-edit-alamat {
  & .card {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;

    & .card-header {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: none;
      background-color: transparent;

      & h5 {
        background-color: #ffffff;
        padding: 5px 10px;
        padding-left: 0;
        font-size: 14px;
        letter-spacing: -.5px;
        width: 150px;
        position: relative;
      }

      & hr {
        margin-top: -12px;
      }
    }

    & .card-body {
      & span {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -.5px;
      }

      & i {
        font-size: 20px;
        position: relative;
        color: #212121;
        line-height: 0;
      }

      & .dropdown-menu {
        margin: 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #e3e1e0;

        & .dropdown-item {
          font-size: 12px;
          letter-spacing: -.5px;
        }
      }

      & p {
        font-size: 12px;
        letter-spacing: -.5px;
      }

      & .btn {
        & i {
          color: #ffffff;
          font-size: 16px;
          padding: 2px;
        }
      }
    }

    & .card-footer {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: none;

      & .btn {
        font-size: 14px;
        letter-spacing: -.5px;
      }
    }
  }

  & .btn-addBank {
    position: absolute;
    bottom: 80px;
    right: 30px;
    z-index: 100;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
  }

  & #cardEdit {
    display: none;
  }
}

// settings dropdown menu
.dropdown-menu {
  //left: -80% !important;
}