<%= content_for :active_profile do %>
    active
<% end %>

<%= content_for :headmobile do %>
    <title>Ganti Password</title>
<% end %>

<%= content_for :mobile do %>
    <div class="data-edit-alamat">
        <div class="card">
            <form class="form" action="/api/ubah-password" method="post" id="needs-validation" novalidate>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="">Masukkan Password Sekarang</label>
                                    <input type="password" name="old_password" class="form-control" value="" required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="">Password Baru</label>
                                    <input type="password" name="new_password" class="form-control" value="" required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="">Konfirmasi Password Baru</label>
                                    <input type="password" name="conf_new_password" class="form-control" value="" required>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-block btn-danger">Simpan</button>
                </div>
            </form>
        </div>
    </div>
<% end %>

<%= content_for :footmobile do %>
    <script type="text/javascript">
        (function () {
            "use strict";
            window.addEventListener("load", function () {
                var form = document.getElementById("needs-validation");
                form.addEventListener("submit", function (event) {
                    if (form.checkValidity() == false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                }, false);
            }, false);
        }());
    </script>
<% end %>