<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Abu Tours & Travel Umrah memberikan jaminan transaksi aman, fasilitas dan pelayanan ibadah yang lebih baik untuk perjalanan umroh maupun haji anda. Kami Tumbuh dari Kepercayaan Anda, lebih dari sekedar nikmatnya beribadah."/>
  <%= yield :heademail %>
  <%= favicon_link_tag 'logo/favicon.png' %>
</head>
<body style="font-family: Arial, Tahoma, sans-serif;color: #333; width: 150%">

<%= yield :email %>

</body>
</html>